<div class="jumbotron" style="background-color:#fff;">
  {{#link-to 'model' idea}}
  <span style="font-size:16px; color:#f55567; text-align:left; margin-right:20px;">◀ Previous</span>{{/link-to}}
  {{#link-to 'idea' idea}}
    <span style="font-size:16px; text-align:center; color:#000; margin-right:20px;">{{idea.name}} Main </span>{{/link-to}}
    {{#link-to 'advantage' idea}}
    <span style="font-size:16px; color:#f55567; text-align:right;">Next ▶</span>{{/link-to}}
  <h1 style="color:#3175B0; font-size:90px; font-weight:600">The Strategy</h1>
  <br />

  {{#if idea.strategy}}
  <h1 style="text-transform:uppercase; font-size:50px;">{{idea.strategy}}</h1>
  <br />
  {{#if isOwned}}
  <button type="submit" class="btn btn-primary" {{action "edit"}}>
    Edit Slide
  </button>
    <br />
  {{/if}}

  <br />

  {{else}}


  {{#if isOwned}}

  <br />

    <form {{action "submit" on="submit"}}>
    <label for="inputlg" style="font-weight:300; font-size:16px;">Summarize Your Overall Marketing Strategy</label>
    {{input class="input-lg" type="text"
            id="strategy"
            value=strategy}}

    </form>


    {{/if}}

    {{#unless isOwned}}
    <h5 style="color:red">You are not authorized to edit this slide.</h5>
    {{/unless}}

  {{/if}}
  </div>

  {{disqus-comments identifier=idea.id}}
