<!-- {{the-problem}} -->
<div>

<div class="col-xs-3">{{#link-to 'problem' model}}<div class="well well-lg slide col-xs-12">
  <h4 style="color:#000">THE PROBLEM</h4>
  <p style="text-align:center; font-size:60px;margin-top:-20px; font-weight:300">+</p>
</div>{{/link-to}}
</div>

<div class="col-xs-3">{{#link-to 'solution' model}}<div class="well well-lg slide col-xs-12">
  <h4 style="color:#000">OUR SOLUTION</h4>
  <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
</div>{{/link-to}}
</div>

<div class="col-xs-3">{{#link-to 'market' model}}<div class="well well-lg slide col-xs-12">
  <h4 style="color:#000">THE MARKET</h4>
  <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
</div>{{/link-to}}
</div>

<div class="col-xs-3">{{#link-to 'product' model}}<div class="well well-lg slide col-xs-12">
  <h4 style="color:#000">THE PRODUCT</h4>
  <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
</div>{{/link-to}}
</div>

</div>


<div style="height:350px;">

  <div class="col-xs-3">{{#link-to 'model' model}}<div class="well well-lg slide col-xs-12">
    <h4 style="color:#000">THE MODEL</h4>
    <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
  </div>{{/link-to}}
  </div>

<div class="col-xs-6"><div class="col-xs-12">
  <h1 style="font-weight:600; margin-top:28px;">{{model.name}}</h1>
  <h4 style="color:#000">{{model.description}}</h4>
  <form method="post" action="mailto:?Subject=Check%20out%20{{model.name}}%20on%20StartHub&Body=http://localhost:4200/ideas/{{model.id}}">
  <button type="submit" class="btn btn-primary btn-sm">
    &#9993; Share Startup
  </button>
  </form>
  <!--  -->
</div>
</div>

<div class="col-xs-3">{{#link-to the-team}}<div class="well well-lg slide col-xs-12">
  <h4 style="color:#000">THE TEAM</h4>
  <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
</div>{{/link-to}}
</div>

</div>


<div>

  <div class="col-xs-3">{{#link-to the-competition}}<div class="well well-lg slide col-xs-12">
    <h4 style="color:#000">THE COMPETITION</h4>
    <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
  </div>{{/link-to}}
  </div>

  <div class="col-xs-3">{{#link-to 'strategy' model}}<div class="well well-lg slide col-xs-12">
    <h4 style="color:#000">THE STRATEGY</h4>
    <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
  </div>{{/link-to}}
  </div>

  <div class="col-xs-3">{{#link-to 'advantage' model}}<div class="well well-lg slide col-xs-12">
    <h4 style="color:#000">OUR ADVANTAGE</h4>
    <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
  </div>{{/link-to}}
  </div>

  <div class="col-xs-3">{{#link-to the-timeline}}<div class="well well-lg slide col-xs-12">
    <h4 style="color:#000">OUR DOCUMENTS</h4>
    <p style="text-align:center; font-size:60px; margin-top:-20px; font-weight:300">+</p>
  </div>{{/link-to}}
  </div>

</div>

{{disqus-comments identifier='main'}}
